$font-size: 14px;
$line-height: 1.15;
//设计稿尺寸
$design-w: 1920; //页面宽度
$design-h: 1080; //页面高度

/*
* 颜色变量区域
*/

//基本色
$color-white: #fff;
$color-red: #f00;

//主题色
$color-theme-main: #1c6573;

//背景色
$color-body-bg: #fff;

//字体色
$color-ft-main: #555;
$coloe-breadcrumbs-separator: #b0bec5;

//阴影色
$color-shadow-siderbar: rgba(179, 193, 208, 0.45);

//黑色
$color-black: rgba(0,0,0,1);
