@import "./common/variable";
@import "./common/mixin";
@import "./common/functions";
@import "./common/align";
@import "./common/text-color";
@import "./common/init";
@import "./common/layout";
@import "./themes/default-theme";

* {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  font-size: strip-units($font-size / $design-w) * 100vw;
  line-height: $line-height;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",
    sans-serif;
  background-color: $color-body-bg;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
